/** Body Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
    line-height: 1.5;
}

/** Header Styles */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color:pink;
    color: white;
    margin: 25px 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

time {
    text-align: center;
    float: right;
    min-width: 50px;
}

p {
    text-align: center;
}

#timer {
    text-align: center;
    float: right;
    min-width: 50px;
}

#questionCard {
    text-align: center;
}

.quizStart {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#startBtn {
    background-color: pink;
    color: black;
}

#answerChoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#answerChoices button {
    background-color: pink;
    color: black;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: inline-block;
    border: none;
}




/* * Footer Styles

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: pink;
    color: white;
    padding: 1dvh;
} */
